# Environment variables
# Copy this file to .env and fill in the values

MYSQL_ROOT_PASSWORD=change_me
JWT_SECRET=change_me_to_random_string
ACCESS_PASSWORD_HASH=<bcrypt_hash_of_your_password>
AMAP_KEY=f2a8c18781eefe2b345d24ca91418e96
NGINX_PORT=10338